h1 List of recipes

.card-columns
  - @recipes.each do |recipe|
    div.card
      img.card-img-top src=recipe.photo.image_url(width: 300) alt=recipe.title
      div.card-body
        h5.card-title
          a href="/recipe/#{recipe.id}" = recipe.title
