doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

    title Recipes

    link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css"
  body
    nav.navbar.navbar-dark.bg-dark
      .container
        a.navbar-brand href="/" Recipes
    .container
      == yield
