img.rounded.mx-auto.d-block.m-2 src=@recipe.photo.image_url alt=@recipe.title

h1= @recipe.title

- if @recipe.fields[:chef]
  h5= "By #{@recipe.fields[:chef].name}"


- if @recipe.fields[:tags]
  div
    - @recipe.fields[:tags].each do |tag|
      span.badge.badge-pill.badge-secondary.m-1 = tag.name

== Kramdown::Document.new(@recipe.description).to_html
